/* Write your CSS code here */
.page-img {
  width: 200px;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}
.page-text {
  font-family: 'roboto';
  font-size: 48px;
  font-weight: bold;
  color: #6d396b;
}
