/* Write your CSS code here */
/* Write your CSS code here */
.page-img {
  width: 300px;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-text {
  font-family: 'roboto';
  font-size: 36px;
  font-weight: bold;
  color: #551e53;
}
