/* Write your CSS code here */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.logo {
  width: 25px;
}
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.header-link,
.logo-text {
  font-family: 'roboto';
  font-size: 24px;
  color: #12022f;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}
